<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="mathters">
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.VIBRATE" />
<application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <activity android:name="edu.neu.madcourse.mathters.ScoreActivity"></activity>
    <activity android:name="edu.neu.madcourse.mathters.QuestionActivity" />
    <activity android:name="edu.neu.madcourse.mathters.SetsActivity" />
    <activity android:name="edu.neu.madcourse.mathters.CategoryActivity" />
    <activity
        android:name="edu.neu.madcourse.mathters.SplashActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name="edu.neu.madcourse.mathters.MainActivity"
        android:screenOrientation="portrait">

    </activity>
    <activity
        android:name="edu.neu.madcourse.mathters.RegisterActivity"
        android:exported="true" />
    <activity
        android:name="edu.neu.madcourse.mathters.LoginActivity"
        android:exported="true" />
    <activity
        android:name="edu.neu.madcourse.mathters.StartMenu"
        android:exported="true"
        android:screenOrientation="portrait"
        />
    <activity
        android:name="edu.neu.madcourse.mathters.QuizHistory"
        android:exported="true"

        />
</application>

</manifest>
